@page
@model RazorPagesSample.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Department</th>
                        <th>Email</th>
                        <th>Salary</th>
                        <th>Photo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.Name</td>
                        <td>@employee.Gender</td>
                        <td>@employee.Department</td>
                        <td>@employee.Email</td>
                        <td>$@employee.Salary</td>
                        <td><img class="img-thumbnail thumbnail-size" src="~/images/@string.Concat(employee.Gender.ToLower(),".jpg")" /></td>
                        <td class="col-action">
                            <a asp-page="/Employees/Details" asp-route-Id="@employee.Id" class="btn btn-primary btn-action">View</a>
                            <a href="#" class="btn btn-primary btn-action">Edit</a>
                            <a href="#" class="btn btn-danger btn-action">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

